<head>
    <title>{{title}}</title>
    {{#each css}}
    <link rel="stylesheet" href="public/styles/home.css{{this}}" />
    {{/each}}
</head>


<body>
    <br>
    <div style="text-align: center;" class="container">
        <div style="background-color:lightslategray" class="jumbotron jumbotron-fluid">
            <h1 class="animated fadeInDown" style="font-family: 'Abril Fatface', cursive; text-align: center;"
                id="title" class="display-4">PETRIFIED</h1>
            <br>
            <i id="anicon" style="font-size: 50px; padding: 2px;" class="fas fa-cat"></i> <i
                style="font-size: 50px; padding: 2px;" id="anicon" class="fas fa-spider"></i> <i
                style="font-size: 50px; padding: 2px;" id="anicon" class="fas fa-dog fa-flip-horizontal"></i>
            <h2 class="animated fadeInDown" style="font-family: 'Abril Fatface', cursive; text-align: center;"> Welcome
                To Our Catalogue</h2>
            <br>
            <hr>
            <button id="lost" type="button" class="btn btn-dark">
                Show Lost Animals Only </button>

            <button id="found" type="button" class="btn btn-dark">
                Show Found Animals Only
            </button>
            <a id="regHo" style="background-color:tomato;" class="btn btn-dark" href="/lostfound/" role="button">
                <i class="fas fa-home"></i>
            </a>
        </div>
    </div>
    <div style="text-align: left;" class="container">
        <div class="card-deck">
            {{#each Animals}}
            <div class="col-md-4">
                <div class="card" style="max-width: 23rem; margin-bottom:5px;">
                    <img class="card-img-top" style="width:100%; height:100%;" src="../image/{{img}}"
                    alt="petPic">
                    <div class="card-body" style="text-align:left; padding-left:20px; padding-right:20px;">
                        <dl>
                            <div class="row" style="margin-bottom:5px;">
                                <dt style="margin-left: 20px">Name: </dt>
                                <dd style="margin-left: 5px;">{{this.name}}</dd>
                          </div>
                            <div class="row">
                                <dt style="margin-left: 20px;">Type:</dt>
                                <dd style="margin-left: 5px;">{{this.type}}</dd>
                          
                                <dt style="margin-left: 20px;">Color:</dt>
                                <dd style="margin-left: 5px;">{{this.color}}</dd>

                                <dt style="margin-left: 20px;">Size:</dt>
                                <dd style="margin-left: 5px;">{{this.size}}</dd>
                            </div>
                            <div style="margin: 5px;"class="row">
                                <dt>Description:</dt>
                                <dd style="margin-left: 5px; text-align:justify;">{{this.description}}</dd>
                            </div>
                            <div style="margin: 5px;"class="row">
                                <dt> Found Near:</dt>
                                <dd style="margin-left: 5px; text-align:justify;">{{this.lastSeen}}</dd>
                            </div>
                            <div class="row">
                                <dt style="margin-left: 20px;">Contact:</dt>
                                <dd style="margin-left: 20px;">{{this.contactInfo}}</dd>
                            </div>
                            <div class="row">
                                <dt style="margin-left: 20px;">Zip:</dt>
                                <dd style="margin-left: 20px;">{{this.zip}}</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>