<head>
    <title>{{title}}</title>
    {{#each css}}
    <link rel="stylesheet" href="public/styles/home.css{{this}}" />
    {{/each}}
</head>


<body style="text-align: center;">
    <br>
    <div class="container">
        <div style="background-color:lightslategray" class="jumbotron jumbotron-fluid">
            <h1 class="animated fadeInDown" style="font-family: 'Abril Fatface', cursive; text-align: center;"
                id="title" class="display-4">PETRIFIED</h1>
            <br>
            <i id="anicon" style="font-size: 50px; padding: 2px;" class="fas fa-cat"></i> <i
                style="font-size: 50px; padding: 2px;" id="anicon" class="fas fa-spider"></i> <i
                style="font-size: 50px; padding: 2px;" id="anicon" class="fas fa-dog fa-flip-horizontal"></i>
            <h2 class="animated fadeInDown" style="font-family: 'Abril Fatface', cursive; text-align: center;"> Welcome
                To Our Catalogue</h2>
            <br>
            <hr>
            <button type="button" class="btn btn-dark">
                Show Lost Animals Only </button>

            <button type="button" class="btn btn-dark">
                Show Found Animals Only
            </button>
            <a id="regHo" style="background-color:tomato;" class="btn btn-dark" href="/lostfound/" role="button">
                <i class="fas fa-home"></i>
            </a>
        </div>
    </div>
    <div class="container">
        <div class="card-deck">
            {{#each Animals}}
            <div class="col-md-4">
                
                <div class="card">
                    <img src="../image/{{img}}"
                        class="card-img-top" alt="petPic">
                    <div class="card-body">
                        <div class="row">Type: {{this.type}}</div>
                        <div class="row">Name: {{this.name}}</div>
                        <div class="row">Color: {{this.color}}</div>
                        <div class="row">Size: {{this.size}}</div>
                        <div class="row">Description: {{this.description}}</div>
                        <div class="row">Found Near: {{this.lastSeen}}</div>
                        <div class="row">Contact: {{this.contactInfo}}</div>
                        <div class="row">Zip: {{this.zip}}</div>

                    </div>
                </div>
                
            </div>
            {{/each}}


        </div>
    </div>

</body>